<h1>Hello, This is index.html.erb</h1>

<ul>
    <% @articles.each do |article|%>
        <li> 
        <%= link_to article.title, article %>
        </li>
    <% end %>
</ul>

<%= link_to "Create Article", new_article_path %>
