<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Articles</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="">

</head>

<body>
    <div class="bg-dark py-3 text-center text-light">
        <h4>Blogs</h4>
    </div>

    <div class="container my-5">
        <div class="row">

        <% @articles.each do |article|%>
            <div class="card border-0 bg-light m-2" style="width: 45%;">
                <div class="card-body">
                    <h5>
                        <%= link_to article.title, article, :class => "text-dark" %>
                    </h5>
                    <p class="text-muted"><%= article.body %></p>

                    <hr>
                    <small><%= localize(article.created_at, :format => :long) %></small>
                </div>
            </div>
        <% end %>
        
        <%= link_to "Create Article", new_article_path, :class => "mt-5 ml-2 btn btn-sm btn-success text-light" %>
    </div>    

</body>

</html>